<nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Todo app</a>
</nav>

<div class="container mt-4">
    <h3>Todos</h3>
    <hr/>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-md-6">
                <input formControlName="description" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <button [disabled]="!form.get('description').valid" type="submit" class="btn btn-md btn-primary">Add</button>
            </div>
        </div>
    </form>

    <hr class="mb-4 mt-4" />

    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li *ngFor="let todo of todos" class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="{{ todo.done ? 'done' : ''}}">{{todo.description}} {{todo.doneDate}}</span>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-sm btn-success" [disabled]="todo.done" (click)="done(todo)">Done</button>
                        <button type="button" class="btn btn-sm btn-danger" (click)="delete(todo)">Delete</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
